.footer {
  background-color: rgb(141, 161, 247);
  margin-top: 1rem;
  padding-top: 1rem;
}

.footer-sm {
  background-color: rgb(141, 161, 247);
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}

.footer-sm__icons {
  background-color: rgb(141, 161, 247);
  padding-bottom: 1rem;
}

.footer_img {
  background-color: rgb(141, 161, 247);
}
.footer-bottom__copyright {
  background-color: rgb(141, 161, 247);
  text-align: center;
  color: white;
  font-weight: 400;
}
